########################################
#          BACKUP & TEMP FILES
########################################
*.bak
*.tmp
*~
*.temp

########################################
#          OS SYSTEM FILES
########################################
# --- Windows ---
.DS_Store
Thumbs.db
desktop.ini

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- Linux ---
.bash_history
.directory
.cache/
.Trash-*
.fuse_hidden*
*.swp
*.swo

########################################
#          BUILD OUTPUT (ALL LANGS)
########################################
[Bb]in/
[Oo]bj/
[Ll]og/
build/
out/
dist/
artifacts/

*.obj
*.o
*.ilk
*.pdb
*.dll
*.exe
*.so
*.a
*.out

########################################
#          .NET / C# / VB
########################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# EF / SQL Local DB
*.mdf
*.ldf
*.sqlite
*.sqlite3

########################################
#          VISUAL STUDIO CODE
########################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

*.code-workspace
.history/
.idea/

########################################
#          NODE / WEB DEV
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
webpack-dist/

.env
.env.*

# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/

########################################
#          POWER SHELL
########################################
*.psd1
*.psm1

########################################
#          PYTHON
########################################
__pycache__/
*.py[cod]
.venv/
env/
*$py.class

########################################
#          CMAKE / C / C++
########################################
CMakeCache.txt
CMakeFiles/
cmake-build-*/

########################################
#          EDITOR FILES
########################################
.sublime-project
.sublime-workspace

########################################
#          MISC
########################################
*.log
*.db
